@media(max-width: 1155px){
    p{
        font-size: 21px;
    }
}
@media(max-width: 1165px){
    .footersoc a{
        padding: 0 2%; 
    }
    .footer li{
        padding: 0 3%;
    }
    h2{
        font-size: 56px;
    }
}
@media(max-width: 1520px){
    .sixthwrapper{
        grid-gap: 100px;
    }
}
@media screen and (max-width: 1024px){
    .header_burger{
        display: block;
        
    }
    .headerNav {
        display: none;
    }
    .header {
        align-items: center;
        justify-content: space-around;
    }
    .sidesoc {
        display: none;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }
    .mainSection {
        flex-direction: column;
        align-items: center;
    }
    .sixthSectionCard {
        align-items: center;
        flex-direction: column;
    }
}